* {
  box-sizing: border-box;
}
body {
  background-color: darkgrey;
}
table {
  background-color: #ffffff;
  margin: 15px AUTO;
  width: 50%;
  border: 1px solid #333;
}
table tr {
  border: 1px solid #333;
}
